* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
     

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    height: 80px;
}

.header-welcome {
    background: url('../image/welcome.png') center/cover no-repeat;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.logo .apulogo {
    width: 100px;
    height: auto;
    padding: 5px;
}


.navigation .apulogo {
    display: none;
}


.navigation a {
    color: #ff6f00;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
}

.navigation a:hover {
    background-color: #fdd600;
}

.navigation .logo {
    display: none;
}

.open-close .menu {
        display: none;
        border: white 3px solid;
        padding: 5px;
        border-radius: 20px;
}

.open-close .close {
        display: none;
        padding: 7px;
}

#menucheck {
    display:none;
}

.welcome{
    color: white;
    text-align: center;
    padding: 80px 32px;
    height: 200px;
    font-size: 25px;
    
}

.welcome .join-form{
    display: inline-block;
    background-color: #ff6f00;
    color: black;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s;
}

.welcome .join-form:hover {
    background-color: #ffd600 ;
}

.news, 
.team,
.gallery,
.shop {
    padding: 32px;
    background-color:aliceblue;
}

.news h2,
.team h2,
.gallery h2,
.shop h2 {
    text-align: center;
    margin-bottom: 24px;
}

.news-grid,
.gallery-grid,
.shop-grid {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.news-card,
.gallery-card,
.shop-card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 16px;
    border-radius: 5px;
    flex: 1 1 250px;
    max-width: 300px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: black;
    height: 400px;
}

.news .jersey,
.news .event,
.news .member,
.gallery .gallerypic,
.shop .shoppic {
    width: 300px;
    height: auto;
    align-self: center;
}

.news .news-link {
    text-decoration: none;
}

.link-matches {
    text-decoration: none;
    color: black;
}


.upcoming {
    padding: 32px;
    background: aliceblue;
}

.upcoming .upcoming-games {
    margin-left: auto;
    margin-right: auto;
    
}

.upcoming h2 {
    text-align: center;
    margin-bottom: 24px;
}

.upcoming .matches {
    width: 100%;
    border-collapse: collapse;
}

.upcoming .matches th, td {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid black;
    font-size: 30px;
}

.upcoming .sunway,
.upcoming .monash,
.upcoming .taylor {
    width: 50px;
    height: auto;
    padding-right: 20px;
}

.team {
    background-color: aliceblue;
}

.team-grid {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.team-card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 16px;
    border-radius: 5px;
    flex: 1 1 250px;
    width: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.team .members {
    width: 200px;
    height: 250px;
    align-self: center;
}

.viewroaster {
    text-align: center;
    
}
.viewroaster .roaster {
    display: inline-block;
    background-color: #ff6f00;
    color: black;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s;
}

.viewroaster .roaster:hover {
    background-color: #ffd600 ;
}

.gallery h3,
.shop h3 {
    text-align: center;
    font-size: 30px;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.card-link {
    text-decoration: none;
    height: 100%;
    width: 100%;
    flex: 1 1 250px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallerypic {
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
    border-radius: 12px;
    transition: opacity 1s ease;
    opacity: 0;
    z-index: 0;
}

.slideshow .gallerypic { 
    width: 100%;
    height: 100%;
}


.gallerypic.start {
    display: block;
    opacity: 1;
    z-index: 1;
}

.gallery-card > img {
    width: 100%;
    transition: transform 0.3s ease;
}

.slideshow:hover .gallerypic.start {
    transform: scale(1.2);
}

.link-shop {
    text-decoration: none;
}



footer {
    background-color: #212121;
    color: #ff6f00;
    font-size: 15px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:30px
}

.footer-content,
.footer-bottom {
    flex: 1 1 200px;
    padding: 10px;
}

.footer-content {
    text-align: center;
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.footer .fa {
    font-size: 30px;
    padding: 7px;
    text-decoration: none;
}

.footer .fa-facebook {
    color: #1877f2;
}

.footer .fa-instagram {
    color: #d62976;
}

.footer .fa-youtube {
    color: #FF0000;
}

.footer .fa:hover {
    color:#ff6f00;
}

@media (max-width: 768px) {
    .navigation {
    position: absolute;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    background: #c58311;
    width: 50%;
    height: 920px;
    padding: 0 16px;
    transition: 700ms;
  }

    .navigation .apulogo {
        display: block;
        padding: 20px; 
        padding-bottom: 3px;
        width: 200px;
        height: auto;
        align-self: center;
    }

    .divider {
        background: grey;
        width: 100%;
        height: 2px;
        margin: 16px 0px;
    }

    .navigation a {
        font-size: 25px;
        font-weight: 600;
        padding: 15px;
        padding-left: 20px;
        display: block;
        color: white;
    }

    .open-close .menu {
        color: white;
        font-size: 40px;
        display: block;
        cursor: pointer;
    }

    #menucheck:checked~ .open-close .menu {
        display: none;
    }

    .open-close .close {
        color: white;
        font-size: 40px;
        display: none;
        cursor: pointer;
    }

    #menucheck:checked~ .open-close .close {
        display: block;
    }

    #menucheck:checked~ .navigation {
        left:0;
    }

    .team .members {
        width: 110px;
        height: 150px;
        align-self: center;
    }
}




